################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CSCN71020_A2/.vs/BCSRec
/.vs/CSCN71020-A2/v17
